*{
    font-family: Arial, Helvetica, sans-serif;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #404040;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #d6d6d6;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }
body{
    margin: 0;
    padding: 0;
}
.top{
    
    background: rgb(137,14,238);
    background: linear-gradient(0deg, rgba(137,14,238,1) 0%, rgba(55,18,94,1) 100%);
}
.foto{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100vh;
    animation: confete 2s ;
    display: none;
}
@keyframes confete {
    0%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(0%);
    }
    
}
.foto::after{
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    height: 100vh;
}
.h1screen{
    font-size: 70px;
}
.pscreen{
    font-size: 20px;
    text-align: center;
}
.mid{
    background: rgb(228,0,31);
    background: linear-gradient(0deg, rgba(228,0,31,1) 0%, rgba(137,14,238,1) 100%);
    color: rgb(255, 255, 255);
}

#imagen1{
    position: absolute;
    right: 10px;
    animation: uauuu 5s infinite ;
    
}
.animation-and-style{
    
    box-shadow: 30px 30px 30px royalblue;
}
#imagen2{
    position: absolute;
    left: 10px;
    animation: uauuu 5s infinite ;
}
@keyframes uauuu {
    0%{
        transform: translateY(-60%);
    }
    50%{
        transform: translateY(0%);
    }
    100%{
            transform: translateY(-60%);
    }
}
.fotmid{
    background: rgb(247,165,84);
    background: linear-gradient(0deg, rgba(247,165,84,1) 0%, rgba(228,0,31,1) 100%);
}
.last{
    color: rgb(0, 255, 115);
    font-size: 50px;
    background-image: url()
}
section{
    
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 105vh;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
#lock{
    display: none;
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 20px;
    }
    .foto{
        width: auto;
    }
    .h1screen{
        font-size: 20px;
    }
    .pscreen{
        
        text-align: center;
        font-size: 12px;
    }
    
    .screenimg{

        width: 100px;
        height: 100px;
    }
    #imagen1{
        position: absolute;
        right: 10px;
        top: 5px;
        animation: uauuu 5s infinite ;
    }
    #imagen2{
        position: absolute;
        left: 10px;
        top: 5px;
        animation: uauuu 5s 2s infinite ;
    }
}